<div class="board">
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
  <div class="place"></div>
  <div class="place"></div>
  <div class="place"></div>  
</div>