* {
  user-select:none;
}
.background {
  height: 100%;
  background: #400040;
  overflow: hidden;
}

.board {
  background-color: #1c4040;
  display: grid;
  grid-template-columns: repeat(9, auto);
  margin: 2vh auto;
  padding: 1vh;
  width: 90vw;
}
.shape {
  background-color: #1c4040;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 2vh auto;
  padding: 1vh;
  width: 30vw;
}
.place {
  border: 1px solid #ffffff;
  padding: 2.5vh;
  text-align: center;
}

.button {
  background-color: #2c6363;
  box-shadow: inset 0px 0px 0px 3px #1c4040;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  padding: 1%;
  text-align: center;
  text-decoration-line: none;
  width: 33%;
}
.button:hover {
  background-color: #3c8686;
}